<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
</head>
<body>
    {% for protectora in protectora_mostrar %}
        <article>
            <p>Nombre: {{ protectora.nombre }}</p>
            <p>Descipcion: {{ protectora.descripcion }}</p>
            <p>Fecha creacion: {{ protectora.fecha_creacion }}</p>
        </article>
    {% endfor %}
    <a href="{% url 'main' %}">Volver</a>
</body>
</html>